input {
  border-radius: 5px;
  border: 2px solid rgb(78, 78, 153);
  margin-right: 2rem;
  margin-top: 5px;
}
select {
  border-radius: 5px;
  border: 2px solid rgb(78, 78, 153);
  margin-right: 2rem;
}
